.exploreSection {
  display: flex;
  padding: 2.5rem;
  flex-direction: column;
  align-items: center;
  gap: 3.75rem;
  border-radius: 1.25rem;
  background: #fff;
  width: 75rem;
  height: auto; 
  min-height: 20rem;
  margin-bottom: 10.9rem;
}
.contentWrapper {
  display: flex;
  width: 70rem;
  flex-direction: column;
  /* align-items: center; */
  gap: 1.5rem;
}

.title {
  color: #414141;
  font-size: 1.5rem;
  font-weight: 800;
}
