/* haibtPage css */
.habitContainer {
  padding: 2.44rem 19.5rem 6.25rem 22.5rem;
  font-family: Pretendard;
}

.habitBox {
  background-color: white;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1.25rem;
}

/* nav */
.navTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.studyName {
  font-size: 2rem;
  font-weight: 800;
  color: var(--black);
}

/* 이동버튼 컨테이너 */
.moveBtnContainer {
  display: flex;
  gap: 1rem;
}

/* 시간 */
.timeContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.nowTimeWord {
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--gray-818181);
}

.imRealClock {
  border: 1px solid var(--gray-EEEEEE);
  padding: 0.5rem 0.75rem;
  width: 13rem;
  border-radius: 3.125rem;
  text-align: center;
}

/* tablet media */
@media (max-width: 46.5rem) {
  .habitContainer {
    padding: 1rem 1.5rem 4.94rem 1.5rem;
  }
  .habitBox {
    padding: 1.5rem;
  }
}

/* mobile media */
@media (max-width: 23.4375rem) {
  .habitContainer {
    padding: 0.25rem 0.94rem 8.81rem 1rem;
  }
  .habitBox {
    padding: 1rem;
  }

  .navTop {
    flex-direction: column;
    align-items: normal;
    gap: 1rem;
  }

  /* 애니매이션 */
  .studyName {
    font-size: 1.5rem;
    white-space: nowrap;
    display: inline-block;
    flex-shrink: 0;
  }
  .nameWrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    width: 100%;
    overflow: hidden;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .nameWrapper:hover .studyName {
    animation: marquee 8s linear infinite;
    transition: none;
  }

  .moveBtnContainer {
    gap: 0.5rem;
  }
}
