.linkButton {
  border-radius: 15px;
  border: 1px solid var(--gray-DDDDDD);
  color: var(--gray-gray_818181, #818181);
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding-left: 1.5rem;
  padding-right: 1rem;

}
