.recentSection {
  display: flex;
  width: 75rem;
  padding: 2.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.875rem;

  border-radius: 1.25rem;
  background: #fff;
}

.title {
  color: #414141;
  font-size: 1.5rem;
  font-weight: 800;
}

.recentContainer {
  display: flex;
  gap: 1.5rem;
}
