@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@font-face {
  font-family: 'EF_jejudoldam';
  src: url('../assets/fonts/EF_jejudoldam.otf') format('opentype');
  }

:root {
  --black: #414141;
  --gray-818181: #818181;
  --gray-DDDDDD: #dddddd;
  --gray-EEEEEE: #eeeeee;

  --bg: #f6f4ef;
  --brand: #99c08e;

  --red-error: #c41013;
  --red-red: #f50e0e;
  --red-bg: #ffa3a5;

  --green: #e1edde;
  --yellow: #fff1cc;
  --blue: #e0f1f5;
  --pink: #fde0e9;

  --green-text: #578246;
  --yellow-text: #c18e1b;
  --blue-text: #418099;
  --pink-text: #bc3c6a;

  --main-font: 'Pretendard', sans-serif;
  --point-font: 'EF_jejudoldam', cursive;
}

body {
  font-family: var(--main-font);
  font-size: 1rem; /* 16px 기준 */
}
