.page {
  min-height: 100vh;
  background-color: var(--bg);
  position: relative;
    padding: 2.44rem 19.5rem 6.25rem 22.5rem;

}

.container {
  /* max-width: 75rem; */
  /* padding: 3.34rem 2rem 9.53rem; */
  margin: 0 auto;

}

.toastContainer {
  position: fixed;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

/* Tablet */
@media (max-width: 46.5rem) {
  .page{
    padding: 1rem;
  }
}

/* Mobile */
@media (max-width: 23.4375rem) {
  .page{
    padding: 0 1rem 8.81rem;
  }

  .toastContainer {
    bottom: 1.5rem;
  }
}
