.datailPageContainer {
  width: 0 auto;
  padding: 2.5rem 19.5rem 6.25rem 22.5rem;
}
/* detail 흰 박스 */
.datailBox {
  background-color: white;
  padding: 2.5rem;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

/* 스터디 정보 */
.infoContainer,
button {
  border: none;
  background-color: transparent;
}

.infoContainer p {
  color: var(--gray-818181);
  margin-bottom: 0.5rem;
}

/* 스터디 정보에 첫번째줄 */
.firstNev {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.fixBtns {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  color: var(--gray-818181);
  font-weight: 500;
}

.Share,
.studyFix {
  color: var(--green-text);
  cursor: pointer;
}

.deleteStudy {
  cursor: pointer;
}

/* 스터디정보의 두번째 줄 */
.secondNev {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.studyName {
  font-size: 2rem;
  font-weight: 800;
  font-style: normal;
}

.moveBtn {
  display: flex;
  gap: 1rem;
  flex-shrink: 0;
}

/* 소개 */
.description {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* 포인트 */
.point {
  padding: 0.5rem 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3.125rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  gap: 0.25rem;
}

.pointIcon {
  width: 1.1875rem;
  height: 1.1875rem;
}

/* 타블렛 */
@media (max-width: 1199px) and (min-width: 744px) {
  .datailPageContainer {
    padding: 1rem 1rem 5.06rem 1rem;
  }

  .datailBox {
    gap: 1.5rem;
    padding: 1.5rem;
  }

  .fixBtns {
    gap: 0.5rem;
  }

  .moveBtn {
    gap: 0.5rem;
  }

  .QRWrapper canvas {
    width: 6rem;
    height: 6rem;
  }
}
/* 모바일 */
@media (max-width: 743px) and (min-width: 375px) {
  .datailPageContainer {
    padding: 1.25rem 1rem 3.5rem 1rem;
  }

  .datailBox {
    padding: 1rem;
    gap: 1.5rem;
  }

  .firstNev {
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .fixBtns {
    gap: 0.25rem;
    justify-content: right;
  }

  .Share .studyFix .deleteStudy {
    font-size: 0.75rem;
  }

  /* 애니메이션 */
  .studyName {
    white-space: nowrap;
    display: inline-block;
    flex-shrink: 0;
  }
  .nameWrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    width: 100%;
    overflow: hidden;
  }

  .QRWrapper canvas {
    width: 4rem;
    height: 4rem;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .nameWrapper:hover .studyName {
    animation: marquee 8s linear infinite;
    transition: none;
  }

  .secondNev {
    flex-direction: column;
    align-items: baseline;
    gap: 1rem;
  }

  .moveBtn {
    gap: 0.5rem;
  }

  .description p {
    font-size: 1rem;
  }

  .description {
    font-size: 0.9rem;
  }
}

.shareWrapper {
  position: relative;
}

.QRWrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0.5rem;

  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);

  cursor: pointer;

}

.QRWrapper canvas {
  width: 12.5rem;
  height: 12.5rem;
  max-width: none;
}