.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 2.5rem 1.5rem;
  border-radius: 1.25rem;
  width: 90%;
  max-width: 40.5rem;
  min-height: 23.5rem;
  height: auto;
  text-align: center;
  position: relative; /* 데스크톱 exitButton의 기준 */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.75rem;
}

.studyName {
  margin: 0;
  color: var(--black);
  font-family: var(--main-font);
  font-size: 1.5rem;
  font-weight: 800;
}

/* [기본 스타일: 데스크톱/태블릿] */
.exitButton {
  position: absolute;
  top: 2.5rem;
  right: 1.5rem;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--green-text);
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: 500;
}

.message {
  margin-bottom: 1.75rem;
  color: var(--gray-818181);
  text-align: center;
  font-family: var(--main-font);
  font-size: 1.125rem;
  font-weight: 500;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: left;
  gap: 0;
}

.submitButton {
  display: flex;
  width: 100%;
  height: 3.625rem;
  padding: 0.625rem;

  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 1rem;
  background: var(--brand);
  cursor: pointer;

  color: #ffffff;
  font-family: var(--point-font);
  font-size: 1.125rem;
  font-weight: 400;
  transition:
    background-color 0.2s,
    transform 0.1s;
  margin-top: 2.5rem;
}

.submitButton:hover {
  background-color: #7fa470;
}

.submitButton:disabled {
  background-color: var(--gray-818181);
  cursor: not-allowed;
}

/* [반응형 스타일: 모바일] */
@media (max-width: 23.5rem) {
  .modal {
    width: 21.5rem;
    min-height: 21.3125rem;
    padding: 2rem 1.25rem;
  }

  .header {
    margin-bottom: 1.44rem;
  }

  .studyName {
    font-size: 1.125rem;
  }

  .message {
    margin-bottom: 1.125rem;
    font-size: 1rem;
  }

  /* 나가기 버튼 하단 이동 및 스타일 변경 */
  .exitButton {
    position: static;
    margin-top: 0.875rem;
    color: var(--gray-818181);
    text-decoration: none;
    font-size: 0.875rem;
  }

  .submitButton {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
}
