.board {
  display: flex;
  width: 78rem;
  max-width: 100%;
  min-height: 48.375rem;
  margin: 0 auto;
  padding: 2.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  background-color: #fff;
  border-radius: 1.25rem;
  box-sizing: border-box;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

/* Tablet */
@media (max-width: 46.5rem) {
  .board {
    width: 43.5rem;
    min-height: 45.375rem;
    padding: 1.5rem;
  }
}

/* Mobile */
@media (max-width: 23.4375rem) {
  .board {
    width: 21.5rem;
    min-height: auto;
    padding: 1rem;
  }
}
