.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 13.75rem;
  background-color: var(--bg);
  height: 6.25rem;
}

.logoLink {
  display: flex;
  align-items: center;
}

.logoLink img {
  width: 11.35019rem;
  height: 3.75rem;
}

/* Tablet */
@media (max-width: 46.5rem) {
  .header {
    padding: 1rem 1.5rem;
  }
}

/* Mobile */
@media (max-width: 23.4375rem) {
  .header {
    padding: 0.75rem 1rem;
  }

  .logoLink img {
    height: 2rem;
    margin-left: -1.4rem;
  }
}
