/**
 * [데스크탑 우선 레이아웃]
 * 1. 베이스: 120rem 데스크탑 기준
 * 2. 미디어 쿼리: 화면이 작아질수록(max-width) 스타일을 덮어씀
 */

/* 전체 배경 및 중앙 정렬 */
.container {
  display: flex;
  width: 100%;
  min-height: 100vh;

  padding-top: 2.5rem;
  padding-bottom: 6.6875rem;
  gap: 2.5rem;

  justify-content: center;
  align-items: flex-start;
  background-color: var(--bg);
  box-sizing: border-box;
}

.main {
  width: 100%;
  max-width: 40.5rem;
  background-color: #ffffff;
  padding: 1.5rem 1.5rem 2.5rem 1.5rem;
  border-radius: 1.25rem;
}

/* 제목 스타일 */
.title {
  color: var(--black);
  font-family: var(--main-font);
  font-size: 1.5rem;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 1.5rem;
}

/* 폼 요소 간격 조절 */
.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* 태블릿 : 46.5rem max */
@media (max-width: 46.5rem) {
  .main {
    padding: 1rem;
    margin-top: 1.25rem;
    margin-left: 0.94rem;
    margin-right: 1rem;
  }
  .input {
    padding: 1rem 1rem 1.25rem 1rem;
  }
}

/* 모바일 : 23.4rem 이하 */
@media (max-width: 23.4rem) {
  .container {
    padding: 0;
  }
  .title {
    font-size: 1rem;
  }
}
