.container {
  display: flex;
  padding: 1.5rem 1.5rem 2.5rem 1.5rem;
  align-items: flex-start;
  gap: 0.625rem;
  background-color: #ffffff;
}

.main {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 40px 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.title {
  color: var(--black);
  font-family: var(--main-font);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
