.navButtonContainer{
  display: flex;
}

.foucsBtnContainer{
  position: relative;
}

.foucsBtn{
  border: 1px solid var(--gray-DDDDDD);
  border-radius: 0.9375rem;
  background-color: white;
  padding: 0.75rem 1 0.75rem 1.5rem ;
}

.foucsIcon{
  position: absolute;
  right: 1rem;
}