.textareaGroup {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
}

.label {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.input {
  width: 100%;
  height: 6.125rem;

  padding: 0.94rem 1.25rem 0.87rem 1.25rem;
  font-size: 1rem;
  color: var(--gray-818181);

  border: 1px solid var(--gray-DDDDDD);
  border-radius: 0.9375rem;
  outline: none;
  resize: none;
  overflow-y: auto;
  box-sizing: border-box;
}

.input:focus {
  border-color: var(--black);
}

.errorInput {
  border-color: var(--red-error);
}

.errorText {
  color: var(--red-error);
  font-family: var(--main-font);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: normal;

  margin-top: 0.5rem;
}

/* Mobile: 23.4rem max */
/* @media (max-width: 23.4rem) {
  .input {
    min-height: 8rem;
    padding: 0.875rem;
    font-size: 0.9375rem;
  }
} */
