.backgroundArea {
  display: flex;
  width: 22.375rem;
  height: 15.1875rem;
  border-radius: 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--green-green_E1EDDE, #e1edde);
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1.88rem 1.88rem;
  gap: 3.375rem;
}

.contentContainer {
  display: flex;
  width: 18.625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.875rem;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  align-self: stretch;
}
.headerContainer {
  display: flex;
  width: 18.625rem;
  height: 1.375rem;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.pointBadge {
  color: var(--black-black_414141, #414141);
  font-family: Pretendard;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 3.125rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  padding: 0.25rem 0.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.statusText {
  color: var(--gray-gray_818181, #818181);
  font-family: Pretendard;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.description {
  color: var(--black-black_414141, #414141);
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
