.fullPageWrapper {
  width: 120rem;
  height: 97.375rem;
  background: var(--bg-bg_F6F4EF, #f6f4ef);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2.5rem;
}
